@import "../common"

.page-main-homepage
    font-size: 0.8em
    h2
        font-size: 1.4em

    dl
        padding: 10px
        dt
            font-weight: bold
            line-height: 1.4em
        dd
            padding-bottom: 10px

    .block-last-books
        padding-bottom: 20px

        img
            border: 1px solid #bbbbbb

        .very-last
            table
                width: 100%
                td
                    height: 200px
                    text-align: center
            padding-bottom: 20px

        .others
            overflow: hidden
            .book
                width: 112px
                float: left
                text-align: center
                height: 100px
                table
                    width: 100%
                    td
                        height: 100px
                        text-align: center
    .block-more
        padding-top: 10px
        text-align: center
