@import "../common"

.page-main-homepage
    font-size: 0.8em
    h2
        font-size: 1.4em

    dl
        padding: 10px
        dt
            font-weight: bold
            line-height: 1.4em
        dd
            padding-bottom: 10px

    .block-last-books

        padding-bottom: 20px

        .very-last
            text-align: center
            padding-bottom: 20px

        .others
            overflow: hidden
            .book
                width: 112px
                float: left
                text-align: center
                height: 100px
        .more
            padding-top: 10px
            text-align: center