#banner
{
  background-color: #dddddd;
  height:  30px;
}

#banner-social
{
  margin: 0 auto;
  width: 1000px;
}

#banner-social li
{
  display: block;
  float:   left;
  height:  30px;

  line-height: 30px;
  font-size:   14px;
  font-family: Arial, Helvetica, sans-serif;
}

#banner-social a
{
  color: black;
  display: block;
}

#banner-social li.delicious a,
#banner-social li.reader a,
#banner-social li.twitter a,
#banner-social li.github a
{
  padding:             0px 10px 0 35px;
  background-repeat:   no-repeat;
  background-position: 10px 5px;
}

#banner-social li.delicious a
{
  background-image: url(/images/social/delicious.png);
}

#banner-social li.reader a
{
  background-image: url(/images/social/reader.png);
}

#banner-social li.twitter a
{
  background-image:url(/images/social/twitter.png);
}

#banner-social li.github a
{
  background-image: url(/images/social/github.png);
}

#banner-social a:hover
{
  background-color: white;
  -moz-border-radius-bottomleft:      10px;
  -webkit-border-bottom-left-radius:  10px;
  -moz-border-radius-bottomright:     10px;
  -webkit-border-bottom-right-radius: 10px;
}
