form
{
    padding: 20px;
    background-color: #f8f8f8;
}

form > div
{
    padding-bottom: 1em;
}

form label
{
    display: block;
}

form input[type=text],
form input[type=password],
form input[type=url],
form textarea
{
    font-family: Georgia;
    font-size: 1.3em;
    width: 100%;

    border: 1px solid #bbbbbb;
}

form textarea
{
    height: 4em;
}

form .errors
{
    color:        red;
    padding-left: 1em;
    font-size:    0.9em;
}
