$logo:       "/images/logo.png"
$logoWidth:  350px
$logoHeight: 54px

$menu:       "/images/menu.png"
$menuBlogWidth:    92px
$menuCVWidth:      73px
$menuContactWidth: 105px
$menuHeight:       50px

#header
    height:   $logoHeight
    position: relative

    h1
        position: absolute
        bottom:   13px
        left:     13px
        width:    $logoWidth
        height:   $logoHeight
        background: url($logo) no-repeat 0 0
        a
            overflow:    hidden
            display:     block
            width:       $logoWidth
            height:     $logoHeight
            span
                display: none

    ul
        position: absolute
        right:    0
        bottom:   0
        width:    $menuBlogWidth + $menuCVWidth + $menuContactWidth
        height:   $menuHeight

        li
            float: left
            height: $menuHeight

            a
                height:  $menuHeight
                display: block
                background: url($menu) no-repeat
                span
                    display: none

        li.blog
            width: $menuBlogWidth
            a
                background-position: 0 0
            a.active, a.active:hover
                background-position: 0 (-$menuHeight)
            a:hover
                background-position: 0 (-$menuHeight*2)

        li.cv
            width: $menuCVWidth
            a
                background-position: (-$menuBlogWidth) 0
            a.active, a.active:hover
                background-position: (-$menuBlogWidth) (-$menuHeight)
            a:hover
                background-position: (-$menuBlogWidth) (-$menuHeight*2)

        li.contact
            width: $menuContactWidth
            a
                background-position: (-($menuBlogWidth+$menuCVWidth)) (0)
            a.active, a.active:hover
                background-position: (-($menuBlogWidth+$menuCVWidth)) (-$menuHeight)
            a:hover
                background-position: (-($menuBlogWidth+$menuCVWidth)) (-$menuHeight*2)
