/** Reset **/

body, div, p, ul, ol, li, pre,
h1, h2, h3, h4, h5, h6,
table, tbody, thead, tfoot, tr, th, td
dt, dl, dd,
form
{
  margin:      0;
  padding:     0;
  line-height: 1em;
  font-size:   1em;
  font-weight: normal;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

ol, ul
{
  list-style-type: none;
}

/** Typology **/

body, input
{
  font-size: 20px;
}

/** Generic styles **/

@media print
{
  .no-print
  {
      display:none;
  }
}

.col-parent
{
  overflow: hidden;
}

.col-clear
{
  clear: both;
}

.col-1-2
{
  float: left;
  width: 50%;
}

/** Generic buttons **/

.button-set
{
  padding: 2em 0;
}

.button-set .button
{
  line-height:   1em;
  margin-right:  10px;
  margin-bottom: 15px;
}

.button, input[type=submit], input[type=button] {
  display:     inline-block;
  outline:     none;
  font-family: Arial, Helvetica, sans-serif;
  padding:     .5em .7em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);

  -webkit-border-radius: .5em;
  -moz-border-radius:    .5em;
  border-radius:         .5em;

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow:    0 1px 2px rgba(0,0,0,.2);
  box-shadow:         0 1px 2px rgba(0,0,0,.2);
}

/* Colors for button */
.button, input[type=submit], input[type=button]
{
  color: black;
  border: solid 1px #aaaaaa;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#dddddd));
  background: -moz-linear-gradient(top,  #f4f4f4,  #dddddd);
  filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#dddddd');
}
.button:hover, input[type=submit]:hover, input[type=button]:hover
{
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #ffffff,  #f0f0f0);
  filter:     progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0f0f0');
}

/** Layout: Wrapper **/

body
{
  background-color: #eeeeee;
  text-align:       center;
}

#wrapper
{
  text-align:     left;
  margin:         0 auto;
  width:          1000px;
  padding-top:    50px;
  padding-bottom: 50px;
}

/** Layout: Banner **/

#banner
{
  background-color: #dddddd;
  height:  30px;
}

#banner-social
{
  margin: 0 auto;
  width: 1000px;
}

#banner-social li
{
  display: block;
  float:   left;
  height:  30px;

  line-height: 30px;
  font-size:   14px;
  font-family: Arial, Helvetica, sans-serif;
}

#banner-social a
{
  color: black;
  display: block;
}

#banner-social li.delicious a,
#banner-social li.reader a,
#banner-social li.twitter a,
#banner-social li.github a
{
  padding:             0px 10px 0 35px;
  background-repeat:   no-repeat;
  background-position: 10px 5px;
}

#banner-social li.delicious a
{
  background-image: url(/images/social/delicious.png);
}

#banner-social li.reader a
{
  background-image: url(/images/social/reader.png);
}

#banner-social li.twitter a
{
  background-image:url(/images/social/twitter.png);
}

#banner-social li.github a
{
  background-image: url(/images/social/github.png);
}

#banner-social a:hover
{
  background-color: white;
  -moz-border-radius-bottomleft:      10px;
  -webkit-border-bottom-left-radius:  10px;
  -moz-border-radius-bottomright:     10px;
  -webkit-border-bottom-right-radius: 10px;
}

/** Layout: Header **/

#header
{
  text-align: center;
  height: 50px;

  position: relative;
}

#header h1
{
  font-family: 'Georgia';
  line-height: 1em;
  font-size:   2em;

  margin-left: 0.3em;

  position:    absolute;
  bottom:      0;
  left:        0;
}

#header ul
{
  line-height: 1.2em;

  position:    absolute;
  bottom:      -1px;
  right:       20px;
}

#header li
{
  display:          inline-block;
  border-top:       1px solid #cccccc;
  border-left:      1px solid #cccccc;
  border-right:     1px solid #cccccc;
  padding:          0.4em 0.5em;
  margin-bottom:    1px;
  background-color: white;
  margin-left:     0.4em;
}

#header li.active
{
  margin-bottom: 0;
}

#header li.active a
{
  color: white;
}

#header li.active
{
  border-color:    #555555;
  background-color: #555555;
}
#header a
{
  color: black;
}

/** Footer **/
#footer p
{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2em;
  font-size:  0.7em;
  text-align: center;
  color: #555555;
}

#footer a
{
  color: #555555;
  text-decoration: underline;
}

#footer a:hover
{
  text-decoration: none;
}

/** Error page **/

.page-error-404
{
  text-align: center;
}

/** Global content **/

#content
{
  border: 1px solid #888888;
}

/** Generic page content **/

.page-content
{
  padding: 3em;
  background-color: white;
}

.page-content h1
{
  text-align: center;
  font-family: Georgia;
  font-size: 1.8em;
  margin: 0.4em 0;
}

/** Generic rich text **/

.rich-content p
{
  line-height: 1.5em;
  margin: 1em 0.4em;
}

.rich-content pre
{
  font-size: 0.9em;
  padding: 1em 2em;
  background-color: black;
  color: white;
  border:  1px solid #888888;
}

.rich-content ul
{
  list-style-type: disc;
  padding-left:    2em;
}

.rich-content li
{
  line-height: 1.5em;
}

.rich-content h2
{
  margin-top: 1em;
  padding-left: 1em;
  line-height: 1.8em;
  font-size:   1.7em;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
}

.rich-content h3
{
  line-height:  1.4em;
  font-size:    1.4em;
  padding-top: 1em;
  padding-left: 1em;
  border-bottom: 1px solid black;
}

.rich-content table
{
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}

.rich-content table td,
.rich-content table th
{
  padding: 0.4em 0.4em;
  border: 1px solid #bbbbbb;
}

.rich-content table th
{
  background-color: #efefef;
  font-weight: bold;
}

/** Generic form **/

form
{
    padding: 20px;
    background-color: #f8f8f8;
}

form > div
{
    padding-bottom: 1em;
}

form label
{
    display: block;
}

form input[type=text],
form input[type=url],
form textarea
{
    font-family: Georgia;
    font-size: 1.3em;
    width: 100%;

    border: 1px solid #bbbbbb;
}

form textarea
{
    height: 4em;
}

/** Blog: Post **/

.blog-post-date
{
  font-size:  0.9em;
  text-align: center;
}

.blog-post-history
{
  padding-bottom: 1em;
  overflow: hidden;
}

.blog-post-history .next
{
  float: right;
}

.blog-post-history .previous
{
  float: left;
}


.blog-post-history a
{
  background-color: #cccccc;
  color: black;
}

/** Blog post comments **/

.blog-post-comments
{
    margin: 20px 0;
    border-top:  1px solid #BBBBBB;
}

.blog-post-comments p.author
{
    font-family: Georgia;
    font-size:   1.2em;
    margin:      15px 0;
}

.blog-post-comments p.body
{
    padding-left: 15px;
    padding-bottom: 15px;
}

.blog-post-comments .comment
{
    padding-top: 15px;
}

.blog-post-comments p.author em
{
    font-size:   0.7em;
}

form.post-comment h2
{
    font-size: 1.4em;
    font-family: Georgia;
    padding-bottom: 1em;
}

.no-comments
{
    text-align: center;
    padding:     15px 0;
    font-family: Georgia;
    font-size: 1.4em;
}

/** Blog post list **/

.blog-post-list
{
  text-align: center;
  padding:    2em 0em;
}

.blog-post-list li
{
  margin-bottom: 1em;
}

/** CV **/

.page-main-cv .current-status
{
  text-align:  center;
  font-size:   0.9em;
  color:       #555555;

  border-top:       1px solid #ddbbaa;
  border-bottom:    1px solid #ddbbaa;
  background-color: #fff8f4;

  padding:       1em;
  margin-bottom: 2em;
}

.page-main-cv
{
  font-size: 0.8em;
}

.page-main-cv p
{
  line-height: 1.5em;
}

.page-main-cv h2
{
  font-size: 1.4em;
  border-bottom: 1px solid black;
  margin-right: 10px;
}

.page-main-cv dl
{
  margin-bottom: 1em;
}

.page-main-cv dt
{
  padding-top: 1em;
  font-weight: bold;
}

.page-main-cv dd
{
  line-height: 1.3em;
  padding:  0.3em 3em 0 1em;
}
