/** Typology **/

body, input
{
  font-size: 20px;
}

/** Layout **/

body
{
  background-color: #eeeeee;
  text-align:       center;
}

#wrapper
{
  text-align:     left;
  margin:         0 auto;
  width:          1000px;
  padding-top:    50px;
  padding-bottom: 50px;
}

/** Global content **/

#content
{
  border: 1px solid #888888;
}

/** Generic page content **/

.page-content
{
  padding: 3em;
  background-color: white;
}

.page-content h1
{
  text-align: center;
  font-family: Georgia;
  font-size: 1.8em;
  margin: 0.4em 0;
}
