.rich-content p
{
  line-height: 1.5em;
  margin: 1em 0.4em;
}

.rich-content pre
{
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 1em 0 1em 1em;
  background-color: black;
  color: white;
  border:  1px solid #888888;
  overflow: auto;
}

.rich-content tt
{
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    border: 1px solid #ddd;
    background-color: #e8e8e8;
    padding: 0 0.2em;
}

.rich-content span.k /** Keyword **/
{
    color: #09F;
}

.rich-content span.nv /** Name Variable **/
{
    color: #F90;
}

.rich-content span.s1,
.rich-content span.s2 /** String **/
{
    color: #9F0;
}

.rich-content span.mi /** Integer **/
{
    color: #9F0;
}

.rich-content span.p /** Parenthesis **/
{
    color: #069;
}

.rich-content span.nt /** XML Tags **/
{
    color: #09F;
}

.rich-content span.na /** XML Name attributes **/
{
    color: #F90;
}

.rich-content span.s /** XML String **/
{
    color: #9F0;
}

.rich-content span.c1 /** Comment **/
{
    color: #888;
}

.rich-content span.cp /** PHP tags **/
{
    color: #888;
}

.rich-content ul
{
  list-style-type: disc;
  padding-left:    2em;
}

.rich-content li
{
  line-height: 1.5em;
}

.rich-content h2
{
  margin-top:    1em;
  font-size:     1.4em;
  font-weight:   bold;
  border-bottom: 1px solid #888;
}

.rich-content h3
{
  font-size:    1.1em;
  padding-top: 1em;
  margin-left: 1em;
  border-bottom: 1px solid #888;
  font-weight: bold;
  line-height: 1.8em;
}

.rich-content h4
{
  font-size:     1.1em;
  padding-top:   1em;
  margin-left:   2em;
  font-weight:   bold;
}

.rich-content .warning
{
    border: 1px solid #D99;
    background-color: #FDD;
    margin: 1em 0;
}

.rich-content .warning p
{
    margin: 0.4em;
}

.rich-content .warning p.first
{
    font-weight: bold;
}

.rich-content table
{
  border-collapse: collapse;
  width: 100%;
  margin: 1em 0;
}

.rich-content table td,
.rich-content table th
{
  padding: 0.4em 0.4em;
  border: 1px solid #bbbbbb;
}

.rich-content table th
{
  background-color: #efefef;
  font-weight: bold;
}
