{#
  This file is part of the Alom project.

  (c) Alexandre Salomé <alexandre.salome@gmail.com>

  This source file is subject to the GPL license that is bundled
  with this source code in the file LICENSE.
#}
<div id="banner">
    <ul id="banner-social">
        <li class="rss"><a href="{{ rssAddress }}" title="{{ rssTitle }}">RSS</a></li>
        <li class="delicious"><a href="http://delicious.com/wodkaist" title="Link to my Delicious profile">Delicious</a></li>
        <li class="reader"><a href="http://www.google.com/reader/shared/00298601393471074999" title="Link to my Google Reader profile">Reader</a></li>
        <li class="twitter"><a href="http://twitter.com/alexandresalome" title="Link to my Twitter profile">Twitter</a></li>
        <li class="github"><a href="http://github.com/alexandresalome" title="Link to my Github profile">Github</a></li>
        {% if is_connected %}
            <li class="auth">{{ username }} - <a href="{{ path("logout") }}">Logout</a></li>
        {% endif %}
    </ul>
</div>
