{% extends "::layout.html.twig" %}

{% block title %}Alexandre Salomé - Blog{% endblock %}
{% set active = "blog" %}

{% block content %}
    <div id="block-post-list" class="page-content">

        <h1>Blog posts</h1>

        <div class="rich-content">
            <div class="button-set">
            {% set curDate = '' %}
            {% for post in posts %}
                {% set date = post.getPublishedAt().format('F Y') %}
                {% if date != curDate %}
                    {% set curDate = date %}
                    {% if curDate != '' %}
                        </div>
                    {% endif %}
                    <h2>{{ date }}</h2>
                    <div class="button-set">
                {% endif %}
                <a class="button" href="{{ path("blog_post_view", { "slug": post.getSlug() }) }}">{{ post.getTitle() }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
