/app/config/parameters.yml
/bin/*
!/bin/console
!/bin/reset
!/bin/package
!/bin/rst2html-pygments
/node_modules/*
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/assets/
/web/bundles/
/web/media/*
!/web/media/.gitkeep
/web/uploads/*
!/web/uploads/.gitkeep
/phpunit.xml
