.page-main-cv .current-status
{
    text-align:  center;
    font-size:   0.9em;
    color:       #555555;

    border-top:       1px solid #ddbbaa;
    border-bottom:    1px solid #ddbbaa;
    background-color: #fff8f4;

    padding:       1em;
    margin-bottom: 2em;
}

.page-cv-subtitle
{
    text-align: center;
    font-style: italic;
    padding-bottom: 1em;
}

.page-main-cv a
{
    color: #008;
}

.page-main-cv
{
    font-size: 0.8em;
}

.page-main-cv p
{
    line-height: 1.5em;
}

.page-main-cv h2
{
    font-size: 1.4em;
    border-bottom: 1px solid black;
    margin-right: 10px;
}

.page-main-cv dl
{
    margin-bottom: 1em;
}

.page-main-cv dd
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.page-main-cv dd p
{
    margin-top: 0.5em;
    margin-top: 0.2em;
}

.page-main-cv dt
{
    font-family: Arial, Helvetica, sans-serif;
    color:       #222;
    margin-top:  0.4em;
    padding:     0.4em 0.6em;
    border: 1px solid white;
}

.page-main-cv .more
{
    color: #E96;
    font-weight: bold;
}

.page-main-cv dt.active
{
    margin-right: 10px;
    border-bottom: 1px solid #E96;
}

.page-main-cv dd
{
    margin-right: 10px;
    line-height: 1.3em;
    padding:  0.3em 3em 0 1em;
}

.page-main-cv ul
{
    padding-left: 2em;
}

.page-main-cv li
{
    line-height: 1.2em;
    list-style-type: circle;
}