<h2>Skills</h2>
<dl>
    <dt>Development</dt>
    <dd>
        PHP Frameworks <em>(Symfony2, symfony, Zend)</em>
        <br />
        Continuous Integration <em>(Automation, Tests, Doc)</em>
        <br />
        Versioning & Ticketing <em>(Git, SVN, Trac, Redmine, Github)</em>
    </dd>
    <dt>Administration</dt>
    <dd>
        Web server <em>(Linux, Windows)</em>
        <br />
        Apache/PHP/MySQL <em>(Configuration, production)</em>
        <br />
        Bash/Linux <em>(Vim, scripting, crontab/services)</em>
    </dd>
    <dt>Web skills</dt>
    <dd>
        Frontend engineering <em>(XHTML, CSS, Javascript)</em>
        <br />
        Ergonomy <em>(Navigation, User "point of view")</em>
    </dd>
    <dt>Graphic execution</dt>
    <dd>Confortable with Photoshop and Flash, basics for Illustrator</dd>
</dl>
