<div class="page-main-cv">

    <div class="col-parent">

        {% include "AlomWebsiteBundle:Identity:_cv_experience.html.twig" %}


        <div class="col-1-2 skills">
            {% include "AlomWebsiteBundle:Identity:_cv_skills.html.twig" %}
        </div>
        <div class="col-1-2">
            {% include "AlomWebsiteBundle:Identity:_cv_studies.html.twig" %}
            {% include "AlomWebsiteBundle:Identity:_cv_personal.html.twig" %}
        </div>
        <div class="col-clear"></div>
    </div>
</div>
