.blog-post-actions
{
    text-align:right;
    padding-bottom: 40px;
}

#post-edit #post_body
{
    height: 250px;
    font-family: Courier New, monospace;
}

#post-body-preview
{
    height: 250px;
    background-color: white;
    border: 1px solid #bbbbbb;
    overflow: auto;
}
