{#
  This file is part of the Alom project.

  (c) Alexandre Salomé <alexandre.salome@gmail.com>

  This source file is subject to the GPL license that is bundled
  with this source code in the file LICENSE.
#}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block head %}{% endblock %}
        {% block before_head_end %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block before_body_end %}{% endblock %}
        {% include "::analytics.html.twig" %}
    </body>
</html>
