{% block form_row %}
{% spaceless %}
    <div class="form-row">
        {{ form_label(form, label) }}
        {{ form_widget(form, _context) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="errors">
        {% for error in errors %}
            <li>{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}
