<h2>Personal</h2>
<dl class="accordion">
    <dt>2016 - Site de maman</dt>
    <dd>
        <p>
            My mother is caterer and needed a simple website to show out her menu. I took this opportunity to create an open-source project (see <a href="http://github.com/alexandresalome/site-de-maman">repository</a> or <a href="http://enviedunplat.fr">production site</a>).
        </p>
    </dd>
    <dt>2014 - DoctrineExtraBundle</dt>
    <dd>
        <p>
            A Symfony bundle for graph generation from Doctrine schema (see <a href="https://github.com/alexandresalome/doctrine-extra-bundle">repository</a>).
        </p>
    </dd>
    <dt>2014 - MultisiteBundle</dt>
    <dd>
        <p>
            A Symfony bundle I created for a talk at SymfonyLive 2014, allowing to create internationalized websites. See <a href="https://github.com/alexandresalome/multisite-bundle">repository</a> for further information.
        </p>
    </dd>
    <dt>2013 - Graphviz</dt>
    <dd>
        <p>
            A library to generate graphs (see <a href="https://github.com/alexandresalome/graphviz">repository</a>).
        </p>
    </dd>
    <dt>2013 - PHP-Mailcatcher</dt>
    <dd>
        <p>
            A library to access <a href="https://mailcatcher.me/">mailcatcher</a> through a PHP API (see <a href="https://github.com/alexandresalome/mailcatcher">repository</a>).
        </p>
    </dd>
    <dt>2012 - Gitonomy</dt>
    <dd>
        <p>
            A git server with Symfony developed with <a href="http://didier.io">Julien DIDIER</a>.
            This project also contain a PHP <a href="http://github.com/gitonomy/gitlib">library to access git repositories</a>.
            More details on the <a href="http://gitonomy.com">website</a></strong>.
        </p>
    </dd>
    <dt>2011 - PHP Selenium Library</dt>
    <dd>
        <p>
            A very simple library for communicating with a Selenium server.
            More details on the <a href="http://github.com/alexandresalome/PHP-Selenium">Github page</a></strong>.
        </p>
    </dd>
    <dt>2011 - This website</dt>
    <dd>
        <p>
            I spent about 1 year to develop this website. I
            started it on August 2010 (PR3) and released it on
            August 2011. This website uses latest technologies and is
            <strong>available on <a href="http://github.com/alexandresalome/website">Github</a></strong>.
        </p>
    </dd>
</dl>
