@import "common.sass"

$headerHeight: 60px
$headerMenuOffset: $layoutWidth / 2

#header-wrapper
    background-color: $colorLight
    text-align:       center

#header
    text-align: left
    margin:     0 auto
    width:      $layoutWidth
    height:     $headerHeight
    position:   relative

    a
        color: $colorDark

    a.active, a:hover
        color:           $colorBase
        text-decoration: none

    h1
        font-family: $fontFamilyAlt
        font-size:   $fontSizeXLarge
        position:    absolute
        bottom:      -2px
        left:        0

        a
            color: $colorDark

        &.active a
            color: $colorBase

    ul
        font-family: $fontFamilyAlt
        position:    absolute
        bottom:      0
        left:        $headerMenuOffset

        li
            font-size:        $fontSizeMedium
            float:            left
            margin-right:     1em
