 <div class="blog-post-comments">
   {% for comment in comments %}
        {% include "AlomWebsiteBundle::PostComment/view.html.twig" with { "comment": comment } only %}
    {% else %}
        <div class="no-comments">
            <p>Be the first to comment !</p>
        </div>
    {% endfor %}
 </div>
