<h2>Experience</h2>

<dl>
    <dt>Since January 2011 : Consultant - Sensio Labs</dt>
    <dd>
        @todo
    </dd>
    <dt>July 2009 - January 2011 : Web developer - <a href="http://www.extreme-sensio.com/">Extreme Sensio</a> / <a href="http://www.sensiolabs.com/en">Sensio Labs</a></dt>
    <dd>
        <p>As a <strong>developer</strong>, I worked on different types of
        projects. Some very classical projects :</p>
        <ul>
            <li>Content websites for popular brands <em>(symfony, mainly)</em></li>
            <li>Frontend engineering <em>(Javascript, Flash, HTML, CSS)</em></li>
        </ul>
        <p>And also on more <strong>complex projects</strong> :</p>
        <ul>
            <li>Many projects with web services & exchanges</li>
            <li>Lot of continuous integration/quality insurance</li>
            <li>Symfony2 development</li>
        </ul>
    </dd>
    <dt>October 2007 - July 2009 : Web developer for <a href="http://www.wokine.com">Wokine</a></dt>
    <dd>
        <p>As as <strong>developer</strong> of the company, I developed and
            worked on (about) 30 different websites :</p>
        <ul>
            <li>E-commerce <em>(Magento, OsCommerce)</em></li>
            <li>CMS <em>(CMS Made Simple, Wordpress)</em></li>
            <li>Custom development <em>(symfony)</em></li>
        </ul>

        <p>I was also <strong>responsible</strong> of some technical tasks, to assist my boss :</p>

        <ul>
            <li>Administration of servers (<em>development, production</em>)</li>
            <li>Extra (<em>ASP support, Recruiting</em>)</li>
        </ul>
    </dd>
</dl>
