<h2>Personal</h2>
<dl class="accordion">
    <dt>2011 - This website</dt>
    <dd>
        <p>
            I spent about 1 year to develop on my free time this website. I
            started it on August 2010 (PR3) and released it on
            August 2011. This website uses latest technologies and is
            <strong>available on <a href="http://github.com/alexandresalome/Alom">Github</a></strong>.
        </p>
    </dd>
    <dt>2010 - <a href="http://admoove.com/">Admoove</a> & <a href="http://23dees.com">23dees</a></dt>
    <dd>
        <p>
            I developed thoses websites with symfony 1.4. I've applied the best
            practises of the symfony world to those projects, for personal
            training and experimentation.
        </p>
    </dd>
    <dt>2009 - <a href="http://onlytalentproductions.com/">Only Talent Productions</a> &amp; <a href="http://dyssidence.com/">Dyssidence</a></dt>
    <dd>
        <p>
            <a href="http://cargocollective.com/mathieuschatzler">Mathieu Schatzler</a>
            created the design, managed the project. I only developed the
            websites using a popular CMS solution.
        </p>
    </dd>
</dl>
<p><a href="{{ path('main_book_list') }}">Books I've read</a></p>