<h2>Studies</h2>
<dl class="accordion">
    <dt>2006 - Licence Informatique - GMI</dt>
    <dd>
        System programmation, Advanced databases, Algorithms, Enterprise
        organization &amp; communication, project management. Internship at <a href="http://reshape-music.com">Reshape Music</a>.
    </dd>
    <dt>2005 - DEUG MIMP</dt>
    <dd>
        Mathematics, Logic, Statistics, Physics, Graph Theory, Language Theory,
        Unix, Architecture, Databases, Web.
    </dd>
</dl>
