<div class="page-main-cv">

    <div class="current-status">
        <p>
            I'm currently working for <a href="#">Sensio Labs</a>, since
            July 2009.
        </p>
        <p>
            If you really want to work with me, contact Sensio Labs.
        </p>
    </div>

    <div class="col-parent">

        {% include "AlomMainBundle:Identity:_cv_experience.html.twig" %}
        

        <div class="col-1-2">
            {% include "AlomMainBundle:Identity:_cv_skills.html.twig" %}
        </div>
        <div class="col-1-2">
            {% include "AlomMainBundle:Identity:_cv_studies.html.twig" %}
            {% include "AlomMainBundle:Identity:_cv_personal.html.twig" %}
        </div>
        <div class="col-clear"></div>
    </div>
</div>
