<h2>Personal</h2>
<dl>
    <dt>2011 - This website</dt>
    <dd>
        <p>
            I spent about 1 year to develop on my free time this website. I
            <strong>started it on August, 8<sup>th</sup> 2010</strong> (PR3)
            and released it on **soon**.
            This website uses latest technologies, and is totally <strong>free</strong>
            and <strong>available on <a href="http://github.com/alexandresalome/Alom">Github</a></strong>.
        </p>
    </dd>
    <dt>2010 - Admoove</dt>
    <dd>
        @todo
    </dd>
    <dt>2009 - Only Talent Productions</dt>
    <dd>
        @todo
    </dd>
</dl>
