{% extends "AlomMainBundle::layout/layout-1col.html.twig" %}

{% block title %}Contact | Alexandre Salomé{% endblock %}
{% set active = "contact" %}

{% block content %}
    <div class="page-content">

        <h1>Contact</h1>

        <div class="rich-content">
            <p>
                Send me e-mails on <a href="mailto:alexandre.salome@gmail.com">alexandre.salome@gmail.com</a>.
            </p>
        </div>

    </div>
{% endblock %}
