{% extends "AlomMainBundle::layout/layout-1col.html.twig" %}

{% block title %}CV | Alexandre Salomé{% endblock %}
{% set active = "cv" %}

{% block content %}
    <div class="page-content">
        <h1>Alexandre Salomé - Consultant</h1>
        {% include "AlomMainBundle:Identity:_cv_card.html.twig" %}
    </div>
{% endblock %}
