{% extends "AlomMainBundle::layout.html.twig" %}

{% block title %}CV | Alexandre Salomé{% endblock %}
{% set active = "cv" %}

{% block javascript %}
    <script type="text/javascript">
        $(window).load(identity.CV.bind);
    </script>
{% endblock %}

{% block content %}
    <div class="page-content">
        <h1>Alexandre Salomé - Consultant</h1>
        <p class="page-cv-subtitle">Paris, France</p>
        {% include "AlomMainBundle:Identity:_cv_card.html.twig" %}
    </div>
{% endblock %}
