{% extends "AlomWebsiteBundle::layout.html.twig" %}

{% block title            'Blog | Alexandre Salomé' %}
{% block meta_description 'Articles written by Alexandre Salomé, about Symfony2, security, development and more general technical discussions.' %}

{% set active = "blog" %}

{% block content %}
    <div class="page-post-list">

        <h1>Blog posts</h1>

        {% if is_granted('ROLE_ADMIN') %}
            <div style="text-align: right">
                <a href="{{ path('blog_post_create') }}" class="button button-add"><span>New post</span></a>
            </div>
        {% endif %}
        {% set curDate = '' %}
        {% for post in posts %}
            {% set date = post.publishedAt.format('F Y') %}
            {% if date != curDate %}
                {% if curDate != '' %}
                    </ul>
                {% endif %}
                {% set curDate = date %}
                <h2>{{ date }}</h2>
                <ul>
            {% endif %}
            <li>
                {% if not post.isActive %}
                    (inactive)
                {% endif %}
                <a href="{{ path("blog_post_view", { "slug": post.slug }) }}">{{ post.title }}</a>
            </li>
        {% endfor %}
        </div> {# End of in-for tag #}
    </div>
{% endblock %}
