{#
  This file is part of the Alom project.

  (c) Alexandre Salomé <alexandre.salome@gmail.com>

  This source file is subject to the GPL license that is bundled
  with this source code in the file LICENSE.
#}
<p>
  2011
  -
  Powered by
    <a href="http://symfony.com">Symfony2</a>,
    <a href="http://www.doctrine-project.org">Doctrine2</a>
    and coffee.
  Sourcecode available on <a href="http://github.com/alexandresalome/Alom">Github</a>.
</p>
