{% extends "::layout.html.twig" %}

{% block title            'Login | Alexandre Salomé' %}
{% block meta_description 'Login to the website for administration of content and comments.' %}

{% set active = false %}

{% block javascript %}
    <script>
        jQuery(window).load(function (){
            $("#username").focus();
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Login</h1>
    <div class="login-form-wrapper">
        <form action="{{ path('security_check') }}" method="POST">
            {% if error %}
                <div class="errors">{{ error.message }}</div>
            {% endif %}

            <div class="form-row">
                <label for="username">Username :</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div class="form-row">
                <label for="password">Password :</label>
                <input type="password" id="password" name="_password" />
            </div>

            <div class="button-set">
                <input class="button" type="submit" name="login" />
            </div>
        </form>
    </div>
{% endblock %}
